@model RazorLesson.Models.Product;
@{
    ViewBag.Title = "Product Name";
}

<p>Product Name: @Model.Name</p>
<p>Product Price: @($"{Model.Price:C2}")</p>
@switch (ViewBag.StockLevel) {   
    case 0:
        @: Out of stock
        break;
    case 1:
    case 2:
    case 3:
        <b>Low Stock @ViewBag.StockLevel</b>
        break;
    default:
        <b>@ViewBag.StockLevel in stock</b>
        break;
}